[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
pydantic-settings = "*"
httpx = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.14"
python_full_version = "3.14.6"
